.tzitziYaKu{
    background-image: url(../images/Stage1/Tzitzi-Ya-Ku.jpg);
} 
.kulu{
    background-image: url(../images/Stage1/Kulu.jpg);
} 
.pukeiPukei{
    background-image: url(../images/Stage1/PukeiPukei.jpg);
}
.barioth {
    background-image: url(../images/Stage2/Barioth.jpg);
} 
.diablos{
    background-image: url(../images/Stage2/Diablos.jpg);
}
.legiana{
    background-image: url(../images/Stage2/Legiana.jpg);
} 
.paolumu{
    background-image: url(../images/Stage2/Paolumu.jpg);
} 
.radobaan{
    background-image: url(../images/Stage2/Radobaan.jpg);
} 
.tobiKadachi {
    background-image: url(../images/Stage2/TobiKadachi.jpg);
}
.azurerath{
    background-image: url(../images/Stage3/Azurerath.jpg);
}
.bazel{
    background-image: url(../images/Stage3/Bazel.jpg);
} 
.jyuratodus{
    background-image: url(../images/Stage3/JyuratodusRender.jpg);
} 
.anjanath{
    background-image: url(../images/Stage3/Anjanath.jpg);
} 
.viperTobi{
    background-image: url(../images/Stage3/Vipertobi.jpg);
} 
.odogaron{
    background-image: url(../images/Stage3/Odogaron.jpg);
} 
.rathalos{
    background-image: url(../images/Stage3/Rathalos.jpg);
} 
.teostra{
    background-image: url(../images/Stage3/Teostra.jpg);
} 
.zorah{
    background-image: url(../images/Stage3/Zorah.jpg);
}
.behemoth{
    background-image: url(../images/Stage4/Behemoth.jpg);
} 
.kulveTarroth{
    background-image: url(../images/Stage4/KulveTarroth.jpg);
} 
.ebonyOdogaron{
    background-image: url(../images/Stage4/EbonyOdogaron.jpg);
} 
.kirin{
    background-image: url(../images/Stage4/Kirin.jpg);
} 
.kushala{
    background-image: url(../images/Stage4/Kushala.jpg);
} 
.namielle{
    background-image: url(../images/Stage4/Namielle.jpg);
} 
.nargacuga{
    background-image: url(../images/Stage4/Nargacuga.jpg);
} 
.nergigante{
    background-image: url(../images/Stage4/Nergigante.jpg);
} 
.tigrex{
    background-image: url(../images/Stage4/Tigrex.jpg);
} 
.xeno{
    background-image: url(../images/Stage4/Xeno.jpg);
} 
.yianGaruga{
    background-image: url(../images/Stage4/YianGaruga.jpg);
} 
.zinogre{
    background-image: url(../images/Stage4/Zinogre.jpg);
}