.card-zangan{
    background-image: url(../images/Stage1/card-zangan.png);
} 
.card-black-mage{
    background-image: url(../images/Stage1/card-black-mage.png);
} 
.card-evoker{
    background-image: url(../images/Stage1/card-evoker.png);
}
.card-aerith {
    background-image: url(../images/Stage2/card-aerith.jpg);
} 
.card-barret-1{
    background-image: url(../images/Stage2/card-barret-1.jpg);
}
.card-gadot{
    background-image: url(../images/Stage2/card-gadot.png);
} 
.card-jessie{
    background-image: url(../images/Stage2/card-jessie.png);
} 
.card-redxiii{
    background-image: url(../images/Stage2/card-redxiii.png);
} 
.card-tifa {
    background-image: url(../images/Stage2/card-tifa.png);
}
.card-angeal {
    background-image: url(../images/Stage3/card-angeal.jpg);
}
.card-cloud-5{
    background-image: url(../images/Stage3/card-cloud-5.jpg);
} 
.card-genesis{
    background-image: url(../images/Stage3/card-genesis.jpg);
} 
.card-laguna{
    background-image: url(../images/Stage3/card-laguna.jpg);
} 
.card-reno{
    background-image: url(../images/Stage3/card-reno.jpg);
} 
.card-rufus{
    background-image: url(../images/Stage3/card-rufus.jpg);
} 
.card-vincent-1{
    background-image: url(../images/Stage3/card-vincent-1.jpg);
} 
.card-yuffie{
    background-image: url(../images/Stage3/card-yuffie.jpg);
} 
.card-zack-1{
    background-image: url(../images/Stage3/card-zack-1.jpg);
}
.behemoth{
    background-image: url(../images/Stage4/Behemoth.jpg);
} 
.kulveTarroth{
    background-image: url(../images/Stage4/KulveTarroth.jpg);
} 
.ebonyOdogaron{
    background-image: url(../images/Stage4/EbonyOdogaron.jpg);
} 
.kirin{
    background-image: url(../images/Stage4/Kirin.jpg);
} 
.kushala{
    background-image: url(../images/Stage4/Kushala.jpg);
} 
.namielle{
    background-image: url(../images/Stage4/Namielle.jpg);
} 
.nargacuga{
    background-image: url(../images/Stage4/Nargacuga.jpg);
} 
.nergigante{
    background-image: url(../images/Stage4/Nergigante.jpg);
} 
.tigrex{
    background-image: url(../images/Stage4/Tigrex.jpg);
} 
.xeno{
    background-image: url(../images/Stage4/Xeno.jpg);
} 
.yianGaruga{
    background-image: url(../images/Stage4/YianGaruga.jpg);
} 
.zinogre{
    background-image: url(../images/Stage4/Zinogre.jpg);
}