@media only screen and (max-height: 900px) {
    .modal-box{
        height: 38%;
        top: 28%;
    }
    .statBox {
        font-size: 5vh;
    }
}

@media only screen and (max-height: 695px) {
    .modal-box{
        height: 86%;
        top: 8%;
    }
}

@media only screen and (max-width: 1610px) {
    .original-standby, .original-seph, .original-cloud{
        height: 20%;
    }
    .kh-standby, .original-seph, .original-cloud{
        height: 20%;
    }
    .statBox:first-child {
        padding-top: 1vh;
    }
}

@media only screen and (max-width: 1366px) {
    .characterCard {
        flex-basis: 45%;
    }
}

@media only screen and (max-width: 1024px) {
    .characterSelect {
        flex-basis: 100%;
    }
    .header {
        justify-content: center;
        height: 40%;
    }
    .headerIntro {
        font-size: 3rem;
    }
    .characterCard {
        height: 50%;
    }
    .statColumn, .actionIcon {
        height: 17%;
        font-size: 1.5rem;
    }
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .stage1Card {
        width: 33%;
    }
    .stage2Card {
        width: 25%;
    }
    .stage3Card, .stage4Card {
        width: 16%;
    }
    .modal-box {
        width: 55%;
        height: 16%;
        top: 38%;
        font-size: 4.1vw;
    }
    .statBox {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) {
    .statBox {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) {
    .headerIntro {
        font-size: 2rem;
    }
    .statColumn {
        font-size: 1.5rem;
        border-radius: 0px;
    }
    .stage1Background {
        background-image: url(../images/backgrounds/stage-1.gif);
        background-position: center;
    }
    
    .stage2Background {
        background-image: url(../images/backgrounds/stage-2.gif);
        background-position: center;
    }
    
    .stage3Background {
        background-image: url(../images/backgrounds/stage-3.gif);
        background-position: center;
    }
    
    .stage4Background {
        background-image: url(../images/backgrounds/stage-4.gif);
        background-position: center;
    }
    .modal-box {
        width: 40%;
        height: 30%;
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) {
    .statBox {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 823px) and (max-height: 411px) {
    .headerIntro {
        font-size: 1.6rem;
    }
    .statColumn, .actionIcon {
        font-size: 1.2rem;
        height: 22%;
    }
    .stage2Card {
        width: 16%;
        height: 42%;
    }

}

@media only screen and (max-width: 812px) and (max-height: 375px) {
    .headerIntro {
        font-size: 1.5rem;
    }
    .statColumn, .actionIcon {
        font-size: 1.2rem;
        height: 22%;
    }
    .stage2Card {
        width: 16%;
        height: 42%;
    }
    .characterSelect {
        height: 50%;
    }
    .modal-box {
        width: 47%;
        height: 38%;
        font-size: 3.3vw;
    }
    .statBox {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 768px) {
    .statColumn {
        font-size: 2rem;
    }
    .headerIntro {
        font-size: 2rem;
    }
    .characterSelect {
        height: 50%;
    }
    .stage2Card {
        width: 16%;
        height: 35%;
    }
    .stage3Card, .stage4Card {
        height: 29%;
    }
    .stage1Background {
        background-image: url(../images/backgrounds/stage-1m.gif);
        background-position: center;
    }
    .stage2Background {
        background-image: url(../images/backgrounds/stage-2m.gif);
        background-position: center;
    }
    
    .stage3Background {
        background-image: url(../images/backgrounds/stage-3m.gif);
        background-position: center;
    }
    
    .stage4Background {
        background-image: url(../images/backgrounds/stage-4m.gif);
        background-position: center;
    }
}

@media only screen and (max-width: 768px) and (max-height: 317px) {
    .statBox{
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 736px) {
    .headerIntro {
        font-size: 1.3rem;
    }
    .statColumn, .actionIcon {
        font-size: 1.2rem;
        height: 22%;
    }
}

@media only screen and (max-width: 568px) and (max-height: 900px) {
    .statColumn {
        height: 17%;
    }
    .statBox {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 568px) and (max-height: 600px) {
    .statColumn {
        height: 20%;
    }
    .statBox {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 568px) and (max-height: 375px) {
    .modal-box {
        font-size: 3.1vw;
    }
}

@media only screen and (max-width: 568px) and (max-height: 320px) {
    .headerIntro {
        font-size: 1.1rem;
    }
    .statColumn {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 414px) {
    .characterCard {
        flex-basis: 72%;
    }
    .header {
        height: 33%;
    }
    .characterSelect {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
    }
    .characterCard {
        flex-basis: 80%
    }
    .headerIntro {
        font-size: 1.5rem;
    }
    .statColumn, .actionIcon {
        height: 9%;
        font-size: 1rem;
        border-radius: 0px;
    }
    .stage1Card {
        width: 50%;
        height: 34%;
    }
    .stage2Card {
        width: 33%;
        height: 25%;
    }
    .stage3Card, .stage4Card {
        width: 26%;
        height: 17%;
    }
    .modal-box {
        width: 88%;
        height: 15%;
        font-size: 7vw;
        top: 38%;
    }
    .modal-button {
        top: 5.3vw;
    }
}

@media only screen and (max-width: 414px) and (max-height: 736px) {
    .modal-box {
        height: 20%;
        font-size: 6vw;
        }
}

@media only screen and (max-width: 400px) {
    .modal-box {
        width: 88%;
        height: 15%;
        font-size: 6vw;
        top: 38%;
    }
    .modal-button {
        top: 5.3vw;
    }
}

@media only screen and (max-width: 375px) {
    .header {
        height: 28%;
    }
    .characterSelect {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
    }
    .characterCard {
        flex-basis: 81%
    }
    .headerIntro {
        font-size: 1rem;
    }
    .statColumn, .actionIcon {
        height: 9%;
        font-size: 0.9rem;
        border-radius: 0px;
    }
    .card-front, .card-back {
        height: 75%;
        width: 55%;
    }
    .stage1Card {
        width: 50%;
        height: 35%;
    }
    .stage2Card {
        width: 33%;
        height: 25%;
    }
    .stage3Card, .stage4Card {
        width: 28%;
        height: 17%;
    }
    .modal-box {
        height: 20%;
    }
    .modal-button {
        top: 5vw;
    }
}

@media only screen and (max-width: 375px) {
    .statColumn, .actionIcon {
        font-size: 0.8rem;
    }   
}

@media only screen and (max-width: 320px) {
    .modal-box {
        font-size: 6vw;
    }
    .modal-button {
        top: 6vw;
    }
}