*{
   margin: 0;
   padding: 0;
}

.startPage {
   height: 100vh;
   background-image: url(../images/startGameBackground.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   flex-wrap: wrap;
}

.felyneSelect {
   display: flex;
   flex-wrap: wrap;
   height: 60%;
}

.felyneCard {
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   border: 5px solid transparent;
   border-radius: 15px;
   flex-basis: 28%;
   margin: 0 auto;
   height: 45%;
}

.felyneCard:hover {
   border-color: #55FF2B;
   transform: scale(1.05);
   transition: transform 0.25s;
   cursor: pointer;
}

.header {
   display: flex;
   flex-wrap: wrap;
   flex-basis: 100%;
   margin: 2% auto;
   height: 25%;
   align-content: center;
}

.headerContent {
   background-image: url(../images/startPageLogo.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   height: 100%;
}

.headerIntro {
   text-align: center;
   font-family: MHFont;
   font-size: 1.5rem;
   color: rgba(255, 255, 255, 0.886);
   text-shadow: 5px 5px 8px black;
}

body {
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
 }

 .stage1Background {
   background-image: url(../images/midgar-3.jpg);
 }

 .stage2Background {
   background-image: url(../images/stage2Background.jpg);
 }

 .stage3Background {
   background-image: url(../images/stage3Background.png);
 }

 .stage4Background {
   background-image: url(../images/stage4background.jpg);
 }
  
.container {
   width: 100%;
   height: 100%;
   max-width: 1500px;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
    
.col-1 {
   width: 8%;
}

.col-2 {
   width: 16%;
}

.col-3 {
   width: 24%;
}

.col-4 {
   width: 32%;
}

.col-5 {
   width: 40%;
}

.col-6 {
   width: 48%;
}

.col-7 {
   width: 56%;
}

.col-8 {
   width: 64%;
}

.col-9 {
   width: 72%;
}

.col-10 {
   width: 80%;
}

.col-11 {
   width: 88%;
}

.col-12 {
   width: 96%;
}
  
 .headerRow {
   height: 6%;
   font-size: 3em;
   text-align: center;
   font-weight: bold;
 }
  
 .gameRow {
   height: 94%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   flex-basis: 78%;
 }
  
 .statColumn {
   height: 18%;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   flex-basis: 50%;
   background-color: #130E0C;
   border-radius: 10px;
 }
  
 .statBox{
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   text-align: center;
   font-size: 1.3em;
   color: whitesmoke;
   background-color: #130E0C;
 }

 .statBox:first-child {
   height: 30%;
   flex-basis: 100%;
   background-image: url(../images/statbartop.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
 }

 .scoreHead {
   height: 35%;
   flex-basis: calc(100%/3);
 }

 .scoreCount {
   height: 35%;
   flex-basis: calc(100%/3);
 }

 .standby {
   height: 18%;
   flex-basis: 45%;
   border-radius: 10px;
   background: url(../images/sephiroth-standby-2.gif),
      url(../images/cloud-standby-2r.gif),
      url(../images/hp-bar-png-19.png);
   background-size: 
      40%,
      32%,
      contain;
   background-repeat: 
      no-repeat,
      no-repeat,
      no-repeat;
   background-position: 
      107% 94%,
      24% 96%,
      left -40px;
 }


/* sephiroth */
.fire {
   height: 18%;
   flex-basis: 45%;
   border-radius: 10px;
   background: url(../images/sephiroth-action-1st.gif),
      url(../images/cloud-standby-2r.gif),
      url(../images/hp-bar-png-19.png);
   background-size: 
      150%,
      32%,
      contain;
   background-repeat: 
      no-repeat,
      no-repeat,
      no-repeat;
   background-position: 
      70% 80%,
      24% 96%,
      left -40px;
 }

 /* cloud */
 /* .fire {
   height: 18%;
   flex-basis: 45%;
   border-radius: 10px;
   background: url(../images/sephiroth-standby-2.gif),
      url(../images/cloud-action-8rs0.8.gif),
      url(../images/hp-bar-png-19.png);
   background-size: 
      40%,
      69%,
      contain;
   background-repeat: 
      no-repeat,
      no-repeat,
      no-repeat;
   background-position: 
      107% 94%,
      13% 37%,
      left -40px;
 } */

 .swingSword { /* cloud */
   height: 18%;
   flex-basis: 45%;
   border-radius: 10px;
   background: url(../images/sephiroth-standby-2.gif),
      url(../images/cloud-action-8rf.gif),
      url(../images/hp-bar-png-19.png);
   background-size: 
      40%,
      contain,
      contain;
   background-repeat: 
      no-repeat,
      no-repeat,
      no-repeat;
   background-position: 
      130px -1px,
      100px 8px,
      left -40px;
 }

.cardColumn {
   height: 80%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   flex-basis: 100%;
}
  
.card {
   width: 15%;
   height: 30%;
   position: relative;
   cursor: pointer;
}

.stage1Card {
   width: 26%;
   height: 46%;
   position: relative;
   cursor: pointer;
}

.stage2Card {
   width: 23%;
   height: 31%;
   position: relative;
   cursor: pointer;
}

.stage3Card {
   width: 15%;
   height: 30%;
   position: relative;
   cursor: pointer;
}

.stage4Card {
   width: 15%;
   height: 23%;
   position: relative;
   cursor: pointer;
}

.card:hover {
   border: 5px solid #55FF2B;
   margin: -5px;
   border-radius: 15px;
   transform: scale(1.1);
   transition: transform 0.25s;
}
 
.card-front, .card-back {
   height: 100%;
   width: 100%;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: absolute;
   border-radius: 10px;
}

.sideBar {
   display: flex;
   flex-basis: 22%;
   flex-wrap: wrap;
   height: 90%;
   border-radius: 10px;
   align-self: center;
}

.utility {
   display: flex;
   flex-flow: column;
   flex-basis: 100%;
   height: 49%;
   border-radius: 10px;
   align-self: flex-end;
}

.lowerSideBar {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.felyne1 {
   background-image: url(../images/felyne-1.gif);
}

.felyne2 {
   background-image: url(../images/felyne-2.webp);
}

.felyne3 {
   background-image: url(../images/felyne-3.webp);
}

.felyne4 {
   background-image: url(../images/felyne-4.webp);
}

.felyne5 {
   background-image: url(../images/felyne-5.webp);
}

.felyne6 {
   background-image: url(../images/felyne-6.webp);
}

.itemBar {
   margin: auto 0;
   height: 49%;
   border-radius: 10px;
}

.card-back {
   background-image: url(../images/cardback.jpg);
   background-color: black;
   background-size: 80%;
}

.modal-box {
   position: fixed;
   display: wrap;
   flex-wrap: wrap;
   width: 50%;
   height: 40%;
   left: 25%;
   top: 25%;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   background-image: url(../images/dialoguebox.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   text-align: center;
   padding-top: 33%;
   padding-bottom: 33%;
   margin-top: -33%;
   margin-bottom: -33%;
}

.modal-button {
   position: fixed;
   width: 50%;
   top: 48%;
   padding-top: 33%;
   padding-bottom: 33%;
   margin-top: -33%;
   margin-bottom: -33%;
}

.modal-button > * {
   width: 100px;
   height: 50px;
   border-radius: 10px;
}

.modal-content {
   position: fixed;
   display: wrap;
   flex-wrap: wrap;
   width: 50%;
   height: 40%;
   left: 25%;
   top: 43%;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   text-align: center;
   padding-top: 33%;
   padding-bottom: 33%;
   margin-top: -33%;
   margin-bottom: -33%;
   font-size: 1.3rem;
}

.hidden {
   display: none;
}